# Goreleaser
/dist/
/.github/release-notes.md

# Build
/provider-docker
/provider
/bin/
*.out
/package/*.xpkg
/kubeconfig
__debug*
_output/
build/

# Docs
/.cache/
/.public/
/node_modules/

# Test artifacts
*.test
coverage.html
coverage.out

# Work
/.work/
.vscode/
.kind

# IDE
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store